
body{
    
    background: url('https://static.pexels.com/photos/207171/pexels-photo-207171.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #00ff00;
    border-color:blue;
    border-width: 2px;
    border-style:dashed;
}

h4 {
    color:rgb(25, 0, 100);
    background: rgb(0,100,0);
}

li{
    
    color:#0000ff;
    border: 5px;
}

h3 {
    color: rgb(45, 200, 255);
    
}